@CHARSET "UTF-8";

.simpleslider_link {
	outline: none;
}

.simpleslider_controls {
	margin: 10px auto;
	text-align: center; 
	font-size: 0.75em; 	
	width: 100%;
}

.simpleslider_counter {
	display: inline;
}

.simpleslider_show {
	margin: 10px auto;	
}